body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 1em;
    padding: 2em;
}


nav {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

nav a:hover {
    color: #ffcc00;
}

.img-roses{
     width: 100%;         
    max-width: 200px;    
    height: auto;
    
}
.img-tulip{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-dahilia{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-snapdragon{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-arabicjasmine{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-cherryblossoms{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-Daisies{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-freesia{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-hydrangea{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-iris{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-lavender{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-orchids{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-peonies{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-gift-basket-1{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
.img-gift-basket{
      width: 100%;         
    max-width: 200px;    
    height: auto;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 3rem;
    width: 100%;
}
