body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 1em;
    padding: 2em;
}


nav {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

nav a:hover {
    color: #ffcc00;
}

.img-rose{
    width: 100px;
}
.img-tulip{
    width: 200px;
}
.img-dahilia{
    width: 200px;
}
.img-snapdragon{
    width: 200px;
}
.img-arabicjasmine{
    width: 200px;
}
.img-cherryblossoms{
    width: 200px;
}
.img-Daisies{
    width: 200px;
}
.img-freesia{
    width: 200px;
}
.img-hydrangea{
    width: 200px;
}
.img-iris{
    width: 200px;
}
.img-lavender{
    width: 200px;
}
.img-orchids{
    width: 200px;
}
.img-peonies{
    width: 200px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 3rem;
    width: 100%;
}
